# dependencies
node_modules/
.next/
# production build
dist/

# environment variables
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.